
*{
    margin: 0;
    padding: 0;
}

.header ,.content, .foot{
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 200px;
    max-width: 800px;
    padding-top: 20px;
    height: 80px;
    border: 1px solid black;

}

.header1, .foot1{
     border: 1px solid black;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content1{
    height: 180px;
    padding-top: 20px;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 200px;
    max-width: 800px;
    border: 1px solid black;
}